.root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 1rem;
    box-sizing: border-box;
    .container {
        width: 100%;
        max-width: 800px;
        height: 100%;
        background-color: gray;
        border-radius: 16px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        padding: 2rem;
        margin-top: 30px;
        margin-bottom: 30px;
        box-sizing: border-box;
        overflow: auto;
        .header {
            text-align: center;
        }
        p {
            overflow-wrap: break-word;
            text-wrap: wrap;
        }
    }
}