*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

:root {
  --clr-primary: #615857;
  --clr-primary-variant: #615857;
  --clr-primary-on: #474138;

  --clr-secondary: #6b778d;
  --clr-secondary-variant: #434f65;
  --clr-secondary-on: #fffbf5;

  --bg-clr: #f9f4ef;
  --bg-on: #474138;
  --bg-alt: #f1eade;

  --surface-main-clr: #ffffff;
  --surface-main-on: #000000;

  --surface-variant-clr: #141414;
  --surface-variant-on: #ffffff;
  --secondary-variant: #434f65;

  --link-light: #70bfec;
  --link-dark: #255ecc;

  --status-disabled-lt: #e0e0e0;
  --status-disabled-dk: #636363;
  --status-error: #c94747;
  --status-caution: #ffd586;
  --status-success: #a3dfcd;

  --font-family-primary: "Nunito", sans-serif;

  --fs-title-xl: 23.36px;
  --fs-title-lg: 19.467px;
  --fs-title-base: 15.573px;
  --fs-title-sm: 11.68px;
  --fs-title-xs: 8.273px;

  --fs-label-2xs: 7.787px;
  --fs-label-3xs: 6.813px;
  --fs-label-3xs: 6.813px;
}
